<div class="overviewContainer justify-content-center align-content-center">
  <div class="sub-header row d-flex mt-4 justify-content-center align-content-center">
    <div class="col-12 col-md-3 ">
      <div class="table-classement" 
           id="table1" role="button" 
           [ngClass]="{'active': showTable === 'table1'}"
           (click)="showTable = 'table1'">
        Table De Classement
      </div>
    </div>
    <div class="col-12 col-md-3 ">
      <div class="team-ranking" 
      id="table2" role="button" 
      [ngClass]="{'active': showTable === 'table2'}"
      (click)="showTable ='table2'">
        Team Ranking
      </div>
    </div>
  </div>
  <div class="content mt-4">
    <div *ngIf="showTable === 'table1' || !showTable">
      <div class="table-content">
        <table style="margin: auto;" class="table table1 table-striped" id="table1" matSort (matSortChange)="sortData($event)">
          <thead>
          <tr style="text-align: center;">
            <th mat-sort-header="pos" style="background-color: #1a1919;color: white;">
              <div style="text-align: center;">Pos</div>
            </th>
            <th mat-sort-header="equipe">Equipe</th>
            <th mat-sort-header="matches">Matches</th>
            <th mat-sort-header="points">Points</th>
            <th mat-sort-header="v">V</th>
            <th mat-sort-header="n" class="hide-on-mobile">N</th>
            <th mat-sort-header="d">D</th>
            <th mat-sort-header="bp">BP</th>
            <th mat-sort-header="bc">BC</th>
            <th mat-sort-header="xgp" class="hide-on-mobile">BD</th>
          </tr>
          </thead>
         <tbody>
          <tr *ngFor="let item of sortedData;let firstRow = first; let i = index" >
            <td [ngClass]="{'BkFirstRow': firstRow}" style="text-align: center;">{{item.Classement}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">
              <img [src]="item.Team.logo" alt="" class="logo">
              {{item['Team']?.slug}}
            </td>
            <td [ngClass]="{'BkFirstRow': firstRow}" >{{item.Matches}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">{{item.Points}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">{{item.Victoires}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}" class="hide-on-mobile">{{item.Nuls}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">{{item.Defaites}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">{{item.BP}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">{{item.BC}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}" class="hide-on-mobile">{{item.BD}}</td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="showTable === 'table2'">
     <div class="row justify-content-around align-content-center">
      <!-- 1 Goals -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr >
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">Goals</span>
                <div class="title_sub_goals">{{headerDataGoals['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataGoals?.Total_Goals}}</div>
                <img class="img_header" [src]="headerDataGoals?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataGoals">
              <th scope="row" class="class_body"></th>
              <td colspan="2">{{team['TeamSlug']}}</td>
              <td>
                <span class="mr-4 text_bold" >{{team.Total_Goals}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('Goals')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 1 End Goals -->
      <!-- 2 XG -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">XG </span>
                <div class="title_sub_goals">{{headerDataXg['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataXg?.value}}</div>
                <img class="img_header" [src]="headerDataXg?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataXg">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.value}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('XG')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 2 End XG -->
      <!-- 3 TIRS -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">TIRS </span>
                <div class="title_sub_goals">{{headerDataTirs?.teamName}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataTirs?.Total_Tirs}}</div>
                <img class="img_header" [src]="headerDataTirs?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataTirs.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.Tirs}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('XG')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 3 End TIRS -->
      <!-- 4 Tirs cadrés -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">TIRS CADRES </span>
                <div class="title_sub_goals">{{headerDataTirCadre['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataTirCadre?.Total_shotsOnTarget}}</div>
                <img class="img_header" [src]="headerDataTirs?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataTirCadre">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.Total_shotsOnTarget}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('TirsCadres')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 4  End Tirs cadrés -->
      <!-- 5 Buts concédés -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">BUTS CONCEDES</span>
                <div class="title_sub_goals">{{headerDataButsCon['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataButsCon?.Total_BC}}</div>
                <img class="img_header" [src]="headerDataButsCon?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataButsCon">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.Total_BC}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('ButsConcedes')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 5 End Buts concédés -->
      <!-- 6 XG_against -->
      <!-- <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">XG AGAINST </span>
                <div class="title_sub_goals">{{headerDataXgAgain['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataXgAgain?.Total_shotsAgainst}}</div>
                <img class="img_header" [src]="headerDataXgAgain?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataXgAgain">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.Total_shotsAgainst}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('XG_Again')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div> -->
      <!-- 6 End XG_against -->
      <!-- 7 Tirs contre --> 
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">Tire Contre </span>
                <div class="title_sub_goals">{{headerDataTirsContre['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataTirsContre?.Total_shotsAgainst}}</div>
                <img class="img_header" [src]="headerDataTirsContre?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataTirsContre">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.Total_shotsAgainst}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('TirsContre')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 7 End Tirs contre  -->
      <!-- 8 Tirs Contre Cadre -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">TIRE CONTRE CADRE </span>
                <div class="title_sub_goals">{{headerDataTirsContreCadre['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataTirsContreCadre?.Total_shotsOTAgainst}}</div>
                <img class="img_header" [src]="headerDataTirsContreCadre?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataTirsContreCadre">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.Total_shotsOTAgainst}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('TirsContreCadre')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 8 End Tirs Contre Cadre -->
      <!-- 9 Fautes -->
       <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">FAUTES </span>
                <div class="title_sub_goals">{{headerDataFautes['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataFautes?.Total_fouls}}</div>
                <img class="img_header" [src]="headerDataFautes?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataFautes">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.Total_fouls}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('Fautes')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 9 End Fautes -->
      <!-- 10 Cartons_Jaunes -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">CARTES JOUNES </span>
                <div class="title_sub_goals">{{headerDataCarteJoune['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataCarteJoune?.Total_yellowCards}}</div>
                <img class="img_header" [src]="headerDataCarteJoune?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataCarteJoune">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.Total_yellowCards}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('CartonsJounes')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 10 End  Cartons_Jaunes -->
      <!-- 11 Cartons_Rouge -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">CARTES ROUGES </span>
                <div class="title_sub_goals">{{headerDataCarteRouge['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataCarteRouge?.Total_redCards}}</div>
                <img class="img_header" [src]="headerDataCarteRouge?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataCarteRouge.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.Total_redCards}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn"  (click)="openDialogWithType('CartonsRouges')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 11 End  Cartons_Rouge -->
       <!-- 12 Possession-->
       <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">POSSESSION </span>
                <div class="title_sub_goals">{{headerDataPossession['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataPossession?.Avg_Pos}}</div>
                <img class="img_header" [src]="headerDataPossession?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataPossession">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.Avg_Pos}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('Possession')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 12 End Possession -->
     </div>
    </div>
  </div>
  
  
   
</div>



