.overviewContainer{
  height: 1000px;
}

/* Sub Header */
.table-classement, .xg-pour, .xg-contre, .distribition-passe, .pertes-balle, .recuperation-balle{
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
    width: 175px;
    height: 41px;
    padding: 11px 12px;
    font-size: small;
    font-weight: bold;
}
.default {
  background-color: lightblue;
  color: black;
}
.negative-value {
  color: red;
}

.low-value {
  color: orange;
}

.medium-value {
  color: blue;
}

.high-value {
  color: green;
}

.default-value {
  color: black;
}


.clicked {
  background-color: red;
  color: white;
}
.active {
  color: #fff !important;
  background-color: rgb(193, 181, 48)  !important;
}
.list-container {
    font-family: "Century Gothic";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

 
.table {
    padding: 20px;
}

.logo{
  width: 15px;
  height: 15px;
  padding: 0px;
  margin-top: -3px;

}

  .table-header{
    background-color: rgb(222, 222, 222);
    margin-top: 50px;
    padding: 6px;
    border-radius: 9px;
    font-family: "Century Gothic Bold";
    text-transform: uppercase;
    color: gray;
  }
  th{ 
    background-color: rgb(211, 205, 87);
    color: #000;
    text-align: center;
    justify-content: center;
  }
  th.mat-header-cell{
    text-align: center;
    padding: 8px;
    vertical-align: revert;
    font-family: "Century Gothic Bold";
    text-transform: uppercase;
    color: gray;
  }
  tr.mat-header-row{
    height: 35px;
    text-align: center;
    justify-content: center;
  }

  tr.mat-row{
    height: 20px;
    text-align: center;
    justify-content: center;
  }
  td.mat-cell{
    padding: 8px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
 
  tr.mat-row:nth-child(even){
    height: 30px;
    background-color: #f1f1f1;
  }
  .mat-table{
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: large;
    border-radius: 10px; /* Adjust the value as per your preference */
    overflow: hidden; 
  }
  .table-content{
    border-radius: 11px;
    background-color: gainsboro;
    padding: 0 1px;
    margin-bottom: 11px;
  }
  .equipe__logo {
    border-radius: 50%;
    overflow: hidden;
    width: 38px;
    margin-right: 20px;
  }
  

  
  


  
 
  

  
  
  @media screen and (max-width: 768px) {
    .overviewContainer{
      width: 100%;
      padding-right: 2px !important;
      padding-left: 0px !important;
      margin-right: auto;
      margin-left: auto;
    }
    .sub-header{
      margin: 0;
      padding: 5px 60px;
    }
    .table-classement, .xg-pour, .xg-contre, .distribition-passe, .pertes-balle, .recuperation-balle{
      margin-bottom: 4px;
      padding: 6px 60px;
      line-height: 1rem;
      width: 271px;
      height: 28px;
    }
    tr.mat-header-row{
      height: 10px;
      text-align: center;
    }
  
    tr.mat-row{
      height: 10px;
    }
    td.mat-cell{
      padding: 0px;
      border-bottom-width: 0px;
      border-bottom-style: solid;
    }
    .mat-cell{
      font-size: 10px;
      padding: 0;
    }
    th.mat-header-cell{
      padding: 0px;
     vertical-align: revert;
     margin: 0px;
    }
    th.mat-header-cell:last-of-type, th.mat-header-cell:first-of-type{
      padding: 0px;
    }
    .tr-rows td {
      font-size: .9rem;
      height: 45px !important;
      text-align: center !important;
    }
  
    .th-head {
      font-size: 1rem;
      border-bottom: 1px solid;
  
    }
    .table {
      overflow: scroll;
      margin-bottom: 80px;
    }
  
  
    .th-head {
      min-width: 150px !important;
      text-align: center !important;
    }
  
    .equipe__logo {
      width: 26px !important;
      margin: 0 20px !important;
    } */
     .th-head-lg {
      min-width: 280px !important;
    }
  
    .th-head-lg:nth-child(1),
    .tr-rows td:nth-child(1) {
      text-align: left !important;
    }
  
    .tr-rows td:nth-child(1) {
      padding-left: 0 !important;
    }
  
    
  }