<div class="overviewContainer justify-content-center align-content-center">
  <div class="sub-header row d-flex mt-4 justify-content-center align-content-center">
    <div class="col-12 col-md-3 ">
      <div class="table-classement" 
           id="table1" role="button" 
           [ngClass]="{'active': showTable === 'table1'}"
           (click)="showTable = 'table1'">
        Table De Classement
      </div>
    </div>
    <div class="col-12 col-md-3 ">
      <div class="team-ranking" 
      id="table2" role="button" 
      [ngClass]="{'active': showTable === 'table2'}"
      (click)="showTable ='table2'">
        Team Ranking
      </div>
    </div>
  </div>
  <div class="content mt-4">
    <div *ngIf="showTable === 'table1' || !showTable">
      <div class="table-content  justify-content-center align-content-center">
        <table class="table table-striped" id="table1" matSort (matSortChange)="sortData($event)">
          <thead>
          <tr>
            <th mat-sort-header="pos" style="background-color: #1a1919;color: white;">Pos</th>
            <th mat-sort-header="equipe">Equipe</th>
            <th mat-sort-header="matches">Matches</th>
            <th mat-sort-header="points">Points</th>
            <th mat-sort-header="v">V</th>
            <th mat-sort-header="n" class="hide-on-mobile">N</th>
            <th mat-sort-header="d">D</th>
            <th mat-sort-header="bp">BP</th>
            <th mat-sort-header="bc">BC</th>
            <th mat-sort-header="xgp" class="hide-on-mobile">BD</th>
          </tr>
        </thead>
         <tbody>
          <tr *ngFor="let item of sortedData; let i = index">
            <td>{{item.Classement}}</td>
            <td style="text-align: start;">
              <img [src]="item.Team.logo" alt="" class="logo">
              {{item['Team']?.name}}
            </td>
            <td>{{item.Matches}}</td>
            <td>{{item.Points}}</td>
            <td>{{item.Victoires}}</td>
            <td class="hide-on-mobile">{{item.Nuls}}</td>
            <td>{{item.Defaites}}</td>
            <td>{{item.BP}}</td>
            <td>{{item.BC}}</td>
            <td class="hide-on-mobile">{{item.BD}}</td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="showTable === 'table2'">
     <div class="row justify-content-around align-content-center">
           <!-- 1 Goals -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">Goals </span>
                <div class="title_sub_goals">{{headerDataGoals['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataGoals?.Buts}}</div>
                <img class="img_header" [src]="headerDataGoals?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataGoals.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="mr-4 text_bold" >{{team.Buts}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('Goals')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 1 End Goals -->
      <!-- 2 XG -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">XG </span>
                <div class="title_sub_goals">{{headerDataXg['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataXg?.xG}}</div>
                <img class="img_header" [src]="headerDataXg?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataXg.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="text_bold" >{{team.xG}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('XG')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 2 End XG -->

      <!-- 3 TIRS -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">TIRS </span>
                <div class="title_sub_goals">{{headerDataTirs['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataTirs?.Tirs}}</div>
                <img class="img_header" [src]="headerDataTirs?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataTirs.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="text_bold" >{{team.Tirs}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('XG')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 3 End TIRS -->
      <!-- 4 Tirs cadrés -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">TIRS CADRES </span>
                <div class="title_sub_goals">{{headerDataTirCadre['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataTirCadre?.Tirs_cadres}}</div>
                <img class="img_header" [src]="headerDataTirs?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataTirCadre.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="text_bold" >{{team.Tirs_cadres}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('TirsCadres')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 4  End Tirs cadrés -->
      <!-- 5 Buts concédés -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">BUTS CONCEDES</span>
                <div class="title_sub_goals">{{headerDataButsCon['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataButsCon?.Buts_concedes}}</div>
                <img class="img_header" [src]="headerDataButsCon?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataButsCon.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="text_bold" >{{team.Buts_concedes}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('ButsConcedes')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 5 End Buts concédés -->
      <!-- 6 XG_against -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">XG AGAINST </span>
                <div class="title_sub_goals">{{headerDataXgAgain['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataXgAgain?.XG_against}}</div>
                <img class="img_header" [src]="headerDataXgAgain?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataXgAgain.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="text_bold" >{{team.XG_against}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('XG_Again')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 6 End XG_against -->
      <!-- 7 Tirs contre --> 
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">Tire Contre </span>
                <div class="title_sub_goals">{{headerDataTirsContre['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataTirsContre?.Tirs_contre}}</div>
                <img class="img_header" [src]="headerDataTirsContre?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataTirsContre.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="text_bold" >{{team.Tirs_contre}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('TirsContre')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 7 End Tirs contre  -->
      <!-- 8 Tirs Contre Cadre -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">TIRE CONTRE CADRE </span>
                <div class="title_sub_goals">{{headerDataTirsContreCadre['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataTirsContreCadre?.Tirs_contre_cadres}}</div>
                <img class="img_header" [src]="headerDataTirsContreCadre?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataTirsContreCadre.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="text_bold" >{{team.Tirs_contre_cadres}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('TirsContreCadre')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 8 End Tirs Contre Cadre -->
      <!-- 9 Fautes -->
       <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">FAUTES </span>
                <div class="title_sub_goals">{{headerDataFautes['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataFautes?.Fautes}}</div>
                <img class="img_header" [src]="headerDataFautes?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataFautes.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="text_bold" >{{team.Fautes}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('Fautes')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 9 End Fautes -->
      <!-- 10 Cartons_Jaunes -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">CARTES JOUNES </span>
                <div class="title_sub_goals">{{headerDataCarteJoune['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataCarteJoune?.Cartons_jaunes}}</div>
                <img class="img_header" [src]="headerDataCarteJoune?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataCarteJoune.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="text_bold" >{{team.Cartons_jaunes}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('CartonsJounes')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 10 End  Cartons_Jaunes -->
      <!-- 11 Cartons_Rouge -->
      <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">CARTES ROUGES </span>
                <div class="title_sub_goals">{{headerDataCarteRouge['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataCarteRouge?.Cartons_rouges}}</div>
                <img class="img_header" [src]="headerDataCarteRouge?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataCarteRouge.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="text_bold" >{{team.Cartons_rouges}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn"  (click)="openDialogWithType('CartonsRouges')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 11 End  Cartons_Rouge -->
       <!-- 12 Possession-->
       <div class="table-content2 col-12 col-md-3 ml-2 justify-content-center align-content-center">
        <table class="table " id="table2">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">POSSESSION </span>
                <div class="title_sub_goals">{{headerDataPossession['\u00c9quipe']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataPossession?.Possession}}</div>
                <img class="img_header" [src]="headerDataPossession?.image_src" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataPossession.slice(0, 4)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['\u00c9quipe']}}</td>
              <td>
                <span class="text_bold" >{{team.Possession}}</span>
                <span><img class="img_body ml-2" [src]="team?.image_src" alt=""></span>
              </td>
            </tr>
      
          </tbody>
          <tfoot>
            <tr>
                <td colspan="5"> 
                  <div class="button-container">
                  <button id="readMoreBtn" class="btn btn-light readMoreBtn" (click)="openDialogWithType('Possession')">Read More</button>
                  </div>
                </td>
              </tr>
          </tfoot>
        </table>
      </div>
      <!-- 12 End Possession -->
     </div>
    </div>
  </div>
  
  
   
</div>



