<div class="overviewContainer justify-content-center align-content-center">
  <div class="sub-header row d-flex mt-4 justify-content-center align-content-center">
    <div class="col-12 col-md-3 ">
      <div class="table-classement" 
           id="table1" role="button" 
           [ngClass]="{'active': showTable === 'table1'}"
           (click)="showTable = 'table1'">
        Table De Classement
      </div>
    </div>
    <div class="col-12 col-md-3 ">
      <div class="team-ranking" 
      id="table2" role="button" 
      [ngClass]="{'active': showTable === 'table2'}"
      (click)="showTable ='table2'">
        Team Ranking
      </div>
    </div>
  </div>
  <div class="content mt-4">
    <div *ngIf="showTable === 'table1' || !showTable">
      <div class="table-content">
        <table style="margin: auto;" class="table table1 table-striped" id="table1" matSort (matSortChange)="sortData($event)">
          <thead>
          <tr style="text-align: center;">
            <th mat-sort-header="pos" style="background-color: #1a1919;color: white;">
              <div style="text-align: center;">Pos</div>
            </th>
            <th mat-sort-header="equipe">Equipe</th>
            <th mat-sort-header="matches">Matches</th>
            <th mat-sort-header="points">Points</th>
            <th mat-sort-header="v">V</th>
            <th mat-sort-header="n" class="hide-on-mobile">N</th>
            <th mat-sort-header="d">D</th>
            <th mat-sort-header="bp">BP</th>
            <th mat-sort-header="bc">BC</th>
            <th mat-sort-header="xgp" class="hide-on-mobile">BD</th>
          </tr>
          </thead>
         <tbody>
          <tr *ngFor="let item of sortedData;let firstRow = first; let i = index" >
            <td [ngClass]="{'BkFirstRow': firstRow}" style="text-align: center;">{{item.Classement}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">
              <img [src]="item.Team.logo" alt="" class="logo">
              {{item['Team']?.slug}}
            </td>
            <td [ngClass]="{'BkFirstRow': firstRow}" >{{item.Matches}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">{{item.Points}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">{{item.Victoires}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}" class="hide-on-mobile">{{item.Nuls}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">{{item.Defaites}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">{{item.BP}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}">{{item.BC}}</td>
            <td [ngClass]="{'BkFirstRow': firstRow}" class="hide-on-mobile">{{item.BD}}</td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="showTable === 'table2'">
     <div class="row justify-content-around align-content-center">
      <!-- 1 Goals -->
      <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">Goals</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataGoals?.TeamLogo" alt="">
                        {{headerDataGoals['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataGoals?.Total_Goals}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataGoals">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.Total_Goals}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                      <button class="btn btn-outline-warning" (click)="openDialogWithType('Goals')">Show More</button>
                  </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 1 End Goals -->
      <!-- 2 XG -->
      <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">XG</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataXg?.TeamLogo" alt="">
                        {{headerDataXg['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataXg?.value}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataXg">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.value}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                    <button class="btn btn-outline-warning" (click)="openDialogWithType('XG')">Show More</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 2 End XG -->
      <!-- 3 TIRS -->
      <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">TIRS</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataTirs?.TeamLogo" alt="">
                        {{headerDataTirs['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataTirs?.Total_Tirs}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataTirs">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.Total_Tirs}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                    <button class="btn btn-outline-warning" (click)="openDialogWithType('Tirs')">Show More</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 3 End TIRS -->
      <!-- 4 Tirs cadrés -->
      <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">Tirs Cadrés</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataTirCadre?.TeamLogo" alt="">
                        {{headerDataTirCadre['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataTirCadre?.Total_shotsOnTarget}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataTirCadre">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.Total_shotsOnTarget}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                    <button class="btn btn-outline-warning" (click)="openDialogWithType('TirsCadres')">Show More</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 4  End Tirs cadrés -->
      <!-- 5 Buts concédés -->
      <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">Buts Concédés</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataButsCon?.TeamLogo" alt="">
                        {{headerDataButsCon['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataButsCon?.Total_BC}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataButsCon">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.Total_BC}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                    <button class="btn btn-outline-warning" (click)="openDialogWithType('ButsConcedes')">Show More</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 5 End Buts concédés -->
      <!-- 6 XG_against -->
      <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">XG Against</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataXgAgain?.TeamLogo" alt="">
                        {{headerDataXgAgain['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataXgAgain?.Total_BC}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataXgAgain">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.Total_shotsAgainst}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                    <button class="btn btn-outline-warning" (click)="openDialogWithType('XG_Again')">Show More</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 6 End XG_against -->
      <!-- 7 Tirs contre --> 
      <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">Tirs Contre </caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataTirsContre?.TeamLogo" alt="">
                        {{headerDataTirsContre['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataTirsContre?.Total_shotsAgainst}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataTirsContre">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.Total_shotsAgainst}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                    <button class="btn btn-outline-warning" (click)="openDialogWithType('TirsContre')">Show More</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 7 End Tirs contre  -->
      <!-- 8 Tirs Contre Cadre -->
      <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">TIRE CONTRE CADRE</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataTirsContreCadre?.TeamLogo" alt="">
                        {{headerDataTirsContreCadre['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataTirsContreCadre?.Total_shotsOTAgainst}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataTirsContreCadre">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.Total_shotsOTAgainst}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                    <button class="btn btn-outline-warning" (click)="openDialogWithType('TirsContreCadre')">Show More</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 8 End Tirs Contre Cadre -->
      <!-- 9 Fautes -->
      <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">Fautes</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataFautes?.TeamLogo" alt="">
                        {{headerDataFautes['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataFautes?.Total_fouls}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataFautes">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.Total_fouls}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                    <button class="btn btn-outline-warning" (click)="openDialogWithType('Fautes')">Show More</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 9 End Fautes -->
      <!-- 10 Cartons_Jaunes -->
      <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">Cartons Jaunes</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataCarteJoune?.TeamLogo" alt="">
                        {{headerDataCarteJoune['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataCarteJoune?.Total_yellowCards}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataCarteJoune">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.Total_yellowCards}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                    <button class="btn btn-outline-warning" (click)="openDialogWithType('CartonsJounes')">Show More</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 10 End  Cartons_Jaunes -->
      <!-- 11 Cartons_Rouge -->
      <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">Cartons Rouge</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataCarteRouge?.TeamLogo" alt="">
                        {{headerDataCarteRouge['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataCarteRouge?.Total_redCards}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataCarteRouge">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.Total_redCards}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                    <button class="btn btn-outline-warning" (click)="openDialogWithType('CartonsRouges')">Show More</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 11 End  Cartons_Rouge -->
       <!-- 12 Possession-->
       <div class="table-content2 col-12 col-md-3 d-flex flex-column align-items-center">
        <table class="table">
          <caption style="caption-side:top" class="center-caption text-white">Cartons Rouge</caption>
            <thead>
                <tr>
                    <th scope="col">
                        <img class="img_header text-white" [src]="headerDataPossession?.TeamLogo" alt="">
                        {{headerDataPossession['TeamSlug']}}
                    </th>
                    <th scope="col" class="text-white">{{headerDataPossession?.Avg_Pos}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of bodyDataPossession">
                    <th scope="row" class="text-white">
                        <img class="img_body ml-2" [src]="team?.TeamLogo" alt="">
                        {{team['TeamSlug']}}
                    </th>
                    <td class="text-white">{{team.Avg_Pos}}</td>
                </tr>
                <tr>
                  <td colspan="2" class="d-grid gap-2 mx-auto text-center ">
                    <button class="btn btn-outline-warning" (click)="openDialogWithType('Possession')">Show More</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <!-- 12 End Possession -->
     </div>
    </div>
  </div>
  
  
   
</div>



