<button type="button" class="closeDialog btn btn-danger" aria-label="Close" (click)="closeDialog()">
  <span aria-hidden="true">&times;</span>
</button>
<div class="container equipeContainer col-12 col-md-12 justify-content-center align-content-center">
  <!-- 1 -->
  <div *ngIf="data.type === 'efficacite'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center" >
      <!-- Echart -->
      <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
         <div class="performance-deffensive">
             <div class="deffensive-header ">
                 <div class="d-flex justify-content-between align-content-between ">
                     <span class="title-header justify-content-end align-content-end">
                         Efficacite Dribbleur
                     </span>
                     <div class="logo-club ml-4">
                         <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                             alt="" width="100%" height="100%" />
                     </div>
                 </div>
                 <p class="sub-description">Premier Division this seasion</p>
             </div>
 
             <div class="deffensive-body">
                 <div id="chart-efficacite-dribbleur" style="width:100%; height:100%"></div>
             </div>
         </div>
     </div>
     <!-- Description -->
      <div class="demo col-12 col-md-4 justify-content-center align-content-center">
         <p>
             We are Performing well above average in attacking statisstics, which is great to see.
          </p>
          <p>
             Man City:
          </p>
          <p>
             Scores a high number of Expected Goals per 90 minutes compared to average
          </p>
          <p>
             Finds the target with a relatively average number of shots
          </p>
     </div>
  </div>
 <!-- 2 -->
 <div *ngIf="data.type === 'creativite'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
  <!-- Echart -->
  <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
     <div class="performance-deffensive">
         <div class="deffensive-header ">
             <div class="d-flex justify-content-between align-content-between ">
                 <span class="title-header justify-content-end align-content-end">
                  chart-efficacite-creativite
                 </span>
                 <div class="logo-club ml-4">
                     <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                         alt="" width="100%" height="100%" />
                 </div>
             </div>
             <p class="sub-description">Premier Division this seasion</p>
         </div>

         <div class="deffensive-body">
             <div id="chart-efficacite-creativite" style="width:100%; height:100%"></div>
         </div>
     </div>
 </div>
 <!-- Description -->
  <div class="demo col-12 col-md-4 justify-content-center align-content-center">
     <p>
         We are Performing well above average in attacking statisstics, which is great to see.
      </p>
      <p>
         Man City:
      </p>
      <p>
         Scores a high number of Expected Goals per 90 minutes compared to average
      </p>
      <p>
         Finds the target with a relatively average number of shots
      </p>
 </div>
</div>
<!-- 3 -->
<div *ngIf="data.type === 'présenceTir'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
  <!-- Echart -->
  <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
     <div class="performance-deffensive">
         <div class="deffensive-header ">
             <div class="d-flex justify-content-between align-content-between ">
                 <span class="title-header justify-content-end align-content-end">
                  Présence au Tir
                 </span>
                 <div class="logo-club ml-4">
                     <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                         alt="" width="100%" height="100%" />
                 </div>
             </div>
             <p class="sub-description">Premier Division this seasion</p>
         </div>

         <div class="deffensive-body">
             <div id="chart-efficacite-presence-tir" style="width:100%; height:100%"></div>
         </div>
     </div>
 </div>
 <!-- Description -->
  <div class="demo col-12 col-md-4 justify-content-center align-content-center">
     <p>
         We are Performing well above average in attacking statisstics, which is great to see.
      </p>
      <p>
         Man City:
      </p>
      <p>
         Scores a high number of Expected Goals per 90 minutes compared to average
      </p>
      <p>
         Finds the target with a relatively average number of shots
      </p>
 </div>
</div>
<!-- 4 -->
<div *ngIf="data.type === 'qualité-tir'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
  <!-- Echart -->
  <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
     <div class="performance-deffensive">
         <div class="deffensive-header ">
             <div class="d-flex justify-content-between align-content-between ">
                 <span class="title-header justify-content-end align-content-end">
                  Qualité de Tir
                 </span>
                 <div class="logo-club ml-4">
                     <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                         alt="" width="100%" height="100%" />
                 </div>
             </div>
             <p class="sub-description">Premier Division this seasion</p>
         </div>

         <div class="deffensive-body">
             <div id="chart-chart-qualité-tir" style="width:100%; height:100%"></div>
         </div>
     </div>
 </div>
 <!-- Description -->
  <div class="demo col-12 col-md-4 justify-content-center align-content-center">
     <p>
         We are Performing well above average in attacking statisstics, which is great to see.
      </p>
      <p>
         Man City:
      </p>
      <p>
         Scores a high number of Expected Goals per 90 minutes compared to average
      </p>
      <p>
         Finds the target with a relatively average number of shots
      </p>
 </div>
</div>
<!-- 5 -->
<div *ngIf="data.type === 'contribution-jeu'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
  <!-- Echart -->
  <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
     <div class="performance-deffensive">
         <div class="deffensive-header ">
             <div class="d-flex justify-content-between align-content-between ">
                 <span class="title-header justify-content-end align-content-end">
                  Contribution de Jeu
                 </span>
                 <div class="logo-club ml-4">
                     <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                         alt="" width="100%" height="100%" />
                 </div>
             </div>
             <p class="sub-description">Premier Division this seasion</p>
         </div>

         <div class="deffensive-body">
             <div id="chart-efficacite-contribution-jeu" style="width:100%; height:100%"></div>
         </div>
     </div>
 </div>
 <!-- Description -->
  <div class="demo col-12 col-md-4 justify-content-center align-content-center">
     <p>
         We are Performing well above average in attacking statisstics, which is great to see.
      </p>
      <p>
         Man City:
      </p>
      <p>
         Scores a high number of Expected Goals per 90 minutes compared to average
      </p>
      <p>
         Finds the target with a relatively average number of shots
      </p>
 </div>
</div>
<!-- 6 -->
<div *ngIf="data.type === 'polyvalence-defensive'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
    <!-- Echart -->
    <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
       <div class="performance-deffensive">
           <div class="deffensive-header ">
               <div class="d-flex justify-content-between align-content-between ">
                   <span class="title-header justify-content-end align-content-end">
                    Polyvalence Defensive
                   </span>
                   <div class="logo-club ml-4">
                       <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                           alt="" width="100%" height="100%" />
                   </div>
               </div>
               <p class="sub-description">Premier Division this seasion</p>
           </div>
  
           <div class="deffensive-body" >
               <div id="chart-efficacite-polyvalence-defensive" style="width:100%; height:100%"></div>
           </div>
       </div>
   </div>
   <!-- Description -->
    <div class="demo col-12 col-md-4 justify-content-center align-content-center">
       <p>
           We are Performing well above average in attacking statisstics, which is great to see.
        </p>
        <p>
           Man City:
        </p>
        <p>
           Scores a high number of Expected Goals per 90 minutes compared to average
        </p>
        <p>
           Finds the target with a relatively average number of shots
        </p>
   </div>
  </div>
  <!-- 7 -->
<div *ngIf="data.type === 'diversite-passes'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
    <!-- Echart -->
    <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
       <div class="performance-deffensive">
           <div class="deffensive-header ">
               <div class="d-flex justify-content-between align-content-between ">
                   <span class="title-header justify-content-end align-content-end">
                    Diversite Passes
                   </span>
                   <div class="logo-club ml-4">
                       <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                           alt="" width="100%" height="100%" />
                   </div>
               </div>
               <p class="sub-description">Premier Division this seasion</p>
           </div>
  
           <div class="deffensive-body" >
               <div id="chart-efficacite-polyvalence-defensive" style="width:100%; height:100%"></div>
           </div>
       </div>
   </div>
   <!-- Description -->
    <div class="demo col-12 col-md-4 justify-content-center align-content-center">
       <p>
           We are Performing well above average in attacking statisstics, which is great to see.
        </p>
        <p>
           Man City:
        </p>
        <p>
           Scores a high number of Expected Goals per 90 minutes compared to average
        </p>
        <p>
           Finds the target with a relatively average number of shots
        </p>
   </div>
  </div>
    <!-- 8 -->
<div *ngIf="data.type === 'efficacité-domination-aérienne'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
    <!-- Echart -->
    <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
       <div class="performance-deffensive">
           <div class="deffensive-header ">
               <div class="d-flex justify-content-between align-content-between ">
                   <span class="title-header justify-content-end align-content-end">
                    Efficacité de Domination Aérienne 
                   </span>
                   <div class="logo-club ml-4">
                       <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                           alt="" width="100%" height="100%" />
                   </div>
               </div>
               <p class="sub-description">Premier Division this seasion</p>
           </div>
  
           <div class="deffensive-body" >
               <div id="chart-efficacite-polyvalence-defensive" style="width:100%; height:100%"></div>
           </div>
       </div>
   </div>
   <!-- Description -->
    <div class="demo col-12 col-md-4 justify-content-center align-content-center">
       <p>
           We are Performing well above average in attacking statisstics, which is great to see.
        </p>
        <p>
           Man City:
        </p>
        <p>
           Scores a high number of Expected Goals per 90 minutes compared to average
        </p>
        <p>
           Finds the target with a relatively average number of shots
        </p>
   </div>
  </div>
    <!-- 9 -->
<div *ngIf="data.type === 'progression-jeu'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
    <!-- Echart -->
    <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
       <div class="performance-deffensive">
           <div class="deffensive-header ">
               <div class="d-flex justify-content-between align-content-between ">
                   <span class="title-header justify-content-end align-content-end">
                    Progression Jeu
                   </span>
                   <div class="logo-club ml-4">
                       <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                           alt="" width="100%" height="100%" />
                   </div>
               </div>
               <p class="sub-description">Premier Division this seasion</p>
           </div>
  
           <div class="deffensive-body" >
               <div id="chart-progression-jeu" style="width:100%; height:100%"></div>
           </div>
       </div>
   </div>
   <!-- Description -->
    <div class="demo col-12 col-md-4 justify-content-center align-content-center">
       <p>
           We are Performing well above average in attacking statisstics, which is great to see.
        </p>
        <p>
           Man City:
        </p>
        <p>
           Scores a high number of Expected Goals per 90 minutes compared to average
        </p>
        <p>
           Finds the target with a relatively average number of shots
        </p>
   </div>
  </div>
     <!-- 10 -->
<div *ngIf="data.type === 'Iimplication-créative'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
    <!-- Echart -->
    <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
       <div class="performance-deffensive">
           <div class="deffensive-header ">
               <div class="d-flex justify-content-between align-content-between ">
                   <span class="title-header justify-content-end align-content-end">
                    Limplication Créative
                   </span>
                   <div class="logo-club ml-4">
                       <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                           alt="" width="100%" height="100%" />
                   </div>
               </div>
               <p class="sub-description">Premier Division this seasion</p>
           </div>
  
           <div class="deffensive-body" >
               <div id="chart-Iimplication-créative" style="width:100%; height:100%"></div>
           </div>
       </div>
   </div>
   <!-- Description -->
    <div class="demo col-12 col-md-4 justify-content-center align-content-center">
       <p>
           We are Performing well above average in attacking statisstics, which is great to see.
        </p>
        <p>
           Man City:
        </p>
        <p>
           Scores a high number of Expected Goals per 90 minutes compared to average
        </p>
        <p>
           Finds the target with a relatively average number of shots
        </p>
   </div>
  </div>
       <!-- 11 -->
<div *ngIf="data.type === 'contribution-offensive'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
    <!-- Echart -->
    <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
       <div class="performance-deffensive">
           <div class="deffensive-header ">
               <div class="d-flex justify-content-between align-content-between ">
                   <span class="title-header justify-content-end align-content-end">
                    Indice de contribution offensive
                   </span>
                   <div class="logo-club ml-4">
                       <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                           alt="" width="100%" height="100%" />
                   </div>
               </div>
               <p class="sub-description">Premier Division this seasion</p>
           </div>
  
           <div class="deffensive-body" >
               <div id="chart-contribution-offensive" style="width:100%; height:100%"></div>
           </div>
       </div>
   </div>
   <!-- Description -->
    <div class="demo col-12 col-md-4 justify-content-center align-content-center">
       <p>
           We are Performing well above average in attacking statisstics, which is great to see.
        </p>
        <p>
           Man City:
        </p>
        <p>
           Scores a high number of Expected Goals per 90 minutes compared to average
        </p>
        <p>
           Finds the target with a relatively average number of shots
        </p>
   </div>
  </div>
     <!-- 12 -->
<div *ngIf="data.type === 'precision-passes'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
    <!-- Echart -->
    <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
       <div class="performance-deffensive">
           <div class="deffensive-header ">
               <div class="d-flex justify-content-between align-content-between ">
                   <span class="title-header justify-content-end align-content-end">
                    Indice de contribution offensive
                   </span>
                   <div class="logo-club ml-4">
                       <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                           alt="" width="100%" height="100%" />
                   </div>
               </div>
               <p class="sub-description">Premier Division this seasion</p>
           </div>
  
           <div class="deffensive-body" >
               <div id="chart-precision-passes" style="width:100%; height:100%"></div>
           </div>
       </div>
   </div>
   <!-- Description -->
    <div class="demo col-12 col-md-4 justify-content-center align-content-center">
       <p>
           We are Performing well above average in attacking statisstics, which is great to see.
        </p>
        <p>
           Man City:
        </p>
        <p>
           Scores a high number of Expected Goals per 90 minutes compared to average
        </p>
        <p>
           Finds the target with a relatively average number of shots
        </p>
   </div>
  </div>
       <!-- 13 -->
<div *ngIf="data.type === 'jeu-aerien'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
    <!-- Echart -->
    <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
       <div class="performance-deffensive">
           <div class="deffensive-header ">
               <div class="d-flex justify-content-between align-content-between ">
                   <span class="title-header justify-content-end align-content-end">
                    Indice de contribution offensive
                   </span>
                   <div class="logo-club ml-4">
                       <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                           alt="" width="100%" height="100%" />
                   </div>
               </div>
               <p class="sub-description">Premier Division this seasion</p>
           </div>
  
           <div class="deffensive-body" >
               <div id="chart-jeu-aerien" style="width:100%; height:100%"></div>
           </div>
       </div>
   </div>
   <!-- Description -->
    <div class="demo col-12 col-md-4 justify-content-center align-content-center">
       <p>
           We are Performing well above average in attacking statisstics, which is great to see.
        </p>
        <p>
           Man City:
        </p>
        <p>
           Scores a high number of Expected Goals per 90 minutes compared to average
        </p>
        <p>
           Finds the target with a relatively average number of shots
        </p>
   </div>
  </div>
        <!-- 14 -->
<div *ngIf="data.type === 'efficacite-sauvegarde'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
    <!-- Echart -->
    <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
       <div class="performance-deffensive">
           <div class="deffensive-header ">
               <div class="d-flex justify-content-between align-content-between ">
                   <span class="title-header justify-content-end align-content-end">
                    Taux d'efficacité de sauvegarde
                   </span>
                   <div class="logo-club ml-4">
                       <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                           alt="" width="100%" height="100%" />
                   </div>
               </div>
               <p class="sub-description">Premier Division this seasion</p>
           </div>
  
           <div class="deffensive-body" >
               <div id="chart-efficacite-sauvegarde" style="width:100%; height:100%"></div>
           </div>
       </div>
   </div>
   <!-- Description -->
    <div class="demo col-12 col-md-4 justify-content-center align-content-center">
       <p>
           We are Performing well above average in attacking statisstics, which is great to see.
        </p>
        <p>
           Man City:
        </p>
        <p>
           Scores a high number of Expected Goals per 90 minutes compared to average
        </p>
        <p>
           Finds the target with a relatively average number of shots
        </p>
   </div>
  </div>
     <!-- 15 -->
<div *ngIf="data.type === 'controle-surface'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
    <!-- Echart -->
    <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
       <div class="performance-deffensive">
           <div class="deffensive-header ">
               <div class="d-flex justify-content-between align-content-between ">
                   <span class="title-header justify-content-end align-content-end">
                    Contrôle de la surface
                   </span>
                   <div class="logo-club ml-4">
                       <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                           alt="" width="100%" height="100%" />
                   </div>
               </div>
               <p class="sub-description">Premier Division this seasion</p>
           </div>
  
           <div class="deffensive-body" >
               <div id="chart-controle-surface" style="width:100%; height:100%"></div>
           </div>
       </div>
   </div>
   <!-- Description -->
    <div class="demo col-12 col-md-4 justify-content-center align-content-center">
       <p>
           We are Performing well above average in attacking statisstics, which is great to see.
        </p>
        <p>
           Man City:
        </p>
        <p>
           Scores a high number of Expected Goals per 90 minutes compared to average
        </p>
        <p>
           Finds the target with a relatively average number of shots
        </p>
   </div>
  </div>
    <!-- 16 -->
<div *ngIf="data.type === 'charge-defensive'" class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
    <!-- Echart -->
    <div class="demo2 col-12 col-md-8 justify-content-center align-content-center">
       <div class="performance-deffensive">
           <div class="deffensive-header ">
               <div class="d-flex justify-content-between align-content-between ">
                   <span class="title-header justify-content-end align-content-end">
                    Contrôle de la surface
                   </span>
                   <div class="logo-club ml-4">
                       <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                           alt="" width="100%" height="100%" />
                   </div>
               </div>
               <p class="sub-description">Premier Division this seasion</p>
           </div>
  
           <div class="deffensive-body" >
               <div id="chart-charge-defensive" style="width:100%; height:100%"></div>
           </div>
       </div>
   </div>
   <!-- Description -->
    <div class="demo col-12 col-md-4 justify-content-center align-content-center">
       <p>
           We are Performing well above average in attacking statisstics, which is great to see.
        </p>
        <p>
           Man City:
        </p>
        <p>
           Scores a high number of Expected Goals per 90 minutes compared to average
        </p>
        <p>
           Finds the target with a relatively average number of shots
        </p>
   </div>
  </div>
</div>
   