<div class="container content mt-4 col-12 col-md-12 justify-content-center align-content-center mt-4 mb-2">
    <div class="row container-content d-flex col-12 col-md-12 justify-content-center align-content-center">
        <!-- 1 -->
        <div class="box2 col-12 col-md-8 justify-content-center align-content-center">
            <div class="performance-offensive">
                <div class="offensive-header ">
                    <div class="d-flex justify-content-between align-content-between ">
                        <span class="title-header justify-content-end align-content-end">
                            Team Attaking
                        </span>
                        <div class="logo-club ml-4">
                            <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                                alt="" width="100%" height="100%" />
                        </div>
                    </div>
                    <p class="sub-description">Premier Division this seasion</p>
                </div>

                <div class="offensive-body">
                    <div id="chart-offensive" style="width:100%; height:300px"></div>
                </div>
            </div>
        </div>
        <!-- 2 -->
         <div class="box1 col-12 col-md-4 justify-content-center align-content-center">
             <p>
                We are Performing well above average in attacking statisstics, which is great to see.
             </p>
             <p>
                Man City:
             </p>
             <p>
                Scores a high number of Expected Goals per 90 minutes compared to average
             </p>
             <p>
                Finds the target with a relatively average number of shots
             </p>
        </div>
        
        
    </div>