<div class="container statistique-formation">
    <div class="row justify-content-center align-content-center mb-2">
        <div class="title justify-content-center align-content-center">
                  <h4 mat-dialog-title>Formation Statistique</h4>
                  
                  
        </div>
          <!-- table -->
          <div>
          </div>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Formation utilisée</th>
                    <th scope="col">N matches</th>
                    <th scope="col">Buts marqués (Moy)</th>
                    <th scope="col">Buts concédés (Moy)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2-3-4-1</td>
                    <td>4</td>
                    <td>2-3-1-1</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>2-3-4-1</td>
                    <td>4</td>
                    <td>2-3-1-1</td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
        <!-- end table -->
  </div>
  <div class="row justify-content-center align-content-center ">
       <!-- table -->
     <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Formation confrontée</th>
          <th scope="col">N matches</th>
          <th scope="col">Buts marqués (Moy)</th>
          <th scope="col">Buts concédés (Moy)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2-3-4-1</td>
          <td>4</td>
          <td>2</td>
          <td>4</td>
        </tr>
        <tr>
          <td>2-3-4-1</td>
          <td>4</td>
          <td>6</td>
          <td>4</td>
        </tr>
        <tr>
            <td>2-3-4-1</td>
            <td>4</td>
            <td>6</td>
            <td>4</td>
          </tr>
      </tbody>
    </table>
     <!-- end table -->
     <div class="desc-match">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ipsam, esse ullam at saepe repudiandae fugiat illum blanditiis quod temporibus labore officiis, facilis quibusdam mollitia enim ad suscipit beatae. Ipsam.
     </div>
 </div> 
</div>