.table th{
    padding: 11px 3px;
    background-color: rgb(227, 224, 224);
}

.desc-match{
    margin-top: 6px;
    padding: 0px 5px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

@media screen and (max-width: 768px) {
    /* CSS rules for screens with a maximum width of 768px (typical for mobile devices) */
   .table th{
    padding: 0px;
    margin: 0px;
   }
}