/* laptop style */
.top-part {
    background: linear-gradient(-165deg, var(--primary-linear-gradient-one-color), var(--primary-linear-gradient-two-color));
    color: #ffffff !important;
    padding: 2px 12px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    border-bottom: 2px solid var(--secondary-color);
}

.top-part a {
    color: #ffffff;
}

.club-logo {
    height: 25px;
    margin-right: 10px;
}

.top-part ul {
    list-style: none;
    padding: 0px;
    margin-left: auto;
    margin-bottom: 0px !important;
    font-size: 12px;
}

.top-part ul li {
    display: inline-block;
    padding: 5px 22px;
}

.top-part ul li:last-child {
    border-right: none;
}

.myaccount {
    border-right: 1px solid #ffffff;
    height: 31px;
    padding: 0px 22px !important;
    line-height: 31px;
}

.logout,
.bonjours {
    line-height: 36px;
    font-weight: bold;
}

.contact-button {
    padding: 5px 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

a.logout {
    font-size: 12px;
}

.logout:hover {
    color: #49ccff !important;
}

.myaccount,
.contact-button {
    margin: 5px;
}

.second-part {
    background: white;
    padding: 19px 5rem;
}

.logo {
    width: 150px;
}

/* .header {
    background: #616161 !important;
    position: sticky;
    top: 0px;
    z-index: 50;
} */

.nav-link {
    color: #0C3F52;
    text-align: center;
}

.nav-link:hover {
    color: #20ACE2;
}

.navIcons {
    font-size: 25px;
    margin-bottom: 5px;
    display: block;
    opacity: .8;
}

li.nav-item {
    width: 146px;
}

.active {
    color: #20ACE2;
}

.second-part {
    display: none;
}

.notificationHolder {
    position: relative;
}

.notificationHolder i {
    font-size: 17px;
}

.unseen_number {
    background: #ea0000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    position: absolute;
    right: 5px;
    bottom: 0px;
}

/* 1024px screen style */
@media(max-width: 1024px) {
    li.nav-item {
        width: 100px;
    }
}

/* tablet style */

/* phone style */
.account__icons {
    font-size: 1rem;
    transform: translateY(2px);
    color: var(--secondary-color);
}

.myaccount {
    transition: .1ms color ease-in-out;
}

.myaccount a:hover {
    color: var(--secondary-color);
}

::ng-deep .mat_menu+* button.mat-menu-item:hover,
::ng-deep .mat_menu+* button.mat-menu-item:active {
    background: var(--secondary-color) !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

::ng-deep .mat_menu+* button.mat-menu-item {
    color: rgb(53 49 45);
    font-weight: bold !important;
    transition: .3s ease-in !important;
    text-transform: capitalize !important;
}

::ng-deep .mat_menu+* .mat-menu-panel {
    transform-origin: left top;
    transform-origin: left top;
    background: rgb(218 218 218 / 25%);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(4px);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgb(250 250 250);
    border-bottom: 6px solid var(--secondary-color);
    font-weight: bold;
}

::ng-deep .mat_menu+* .mat-menu-panel:first-child {
    transform: translate(-61px, 15px) !important;
    height: 42vh !important;
    overflow-y: scroll !important;
}