.container-content{
  font-family: "Century Gothic";
}
 /* chart-pie-blessures */
 .blessures{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
}
.blessures-container {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  background-color: #eae5e5;
}
.chart-pie-blessures{
  width: 100%; height: 600px
}
th, td{
  text-align: center !important;
}
th{
  text-decoration: underline;
}

.table-medicale{
  border-radius: 3px;
}
.medicale{
  border-radius: 3px;
  width: 100%;
  height: 104px;
  background-color: #eccfe0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  
}
.blessures-title,.biometrie-title{
  height: 29px;
  padding: 3px 216px;
  margin-bottom: 12px;
  margin-top: 30px;
}

.biometrie1, .biometrie2, .biometrie3, .biometrie4{
  border-radius: 6px;
  width: 100%;
  height: 150px;
  background-color: #f4f7f9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  
}

.chart-biometrie1, .chart-biometrie2, .chart-biometrie3,.chart-biometrie4{
  width: 100%;
  height: 150px;
}

.bold__text{
  font-family: "Century Gothic Bold";
  font-size: large;
  font-weight: bold;

}

  /* end chart-pie-blessures */



  @media screen and (max-width: 768px) {
    /* CSS rules for screens with a maximum width of 768px (typical for mobile devices) */
    .biometrie1, .biometrie2, .biometrie3, .biometrie4{
      border-radius: 6px;
      width: 100%;
      height: 100px;
      background-color: #f4f7f9;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  
    }
    .chart-biometrie1, .chart-biometrie2, .chart-biometrie3,.chart-biometrie4{
      width: 100%; height: 100px
    }

    .medicale{
      border-radius: 3px;
      width: 100%;
      height: 140px;
      background-color: #eccfe0;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  
    }
    .blessures-title,.biometrie-title{
      height: 53px;
      padding: -9px 216px;
      margin-bottom: -9px;
      margin-top: 14px;
    }
  }



 

