<div class="container equipeContainer mt-4 col-12 col-md-12 justify-content-center align-content-center mt-4 mb-2">
    <div class="row container-content mb-4 d-flex col-12 col-md-12 justify-content-center align-content-center">
        <!-- 1 -->
        <div class="box1 col-12 col-md-4 justify-content-center align-content-center">
            <div class="performance-offensive">
                <div class="offensive-header ">
                    <div class="d-flex justify-content-between align-content-between ">
                        <span class="title-header justify-content-end align-content-end">
                            Prestation  Offensive
                        </span>
                        <div class="logo-club ml-4">
                            <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                                alt="" width="100%" height="100%" />
                        </div>
                    </div>
                    <p class="sub-description">Berkan Session Acual</p>
                </div>

                <div class="offensive-body" (click)="openDialogWithType('Offensive')">
                    <div id="chart-offensive" style="width: 100%; height: 270px"></div>
                </div>
                <!-- <div class="offensive-footer">
                    Nous nous situons legerement au dessus de la moyenne en ce qui concerne les statistique offensive
                </div> -->
            </div>
        </div>
        <!-- 2 -->
        <div class="box1 col-12 col-md-4 justify-content-center align-content-center">
            <div class="performance-offensive">
                <div class="deffensive-header ">
                    <div class="d-flex justify-content-between align-content-between ">
                        <span class="title-header justify-content-end align-content-end">
                            Prestation Deffensive
                        </span>
                        <div class="logo-club ml-4">
                            <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                                alt="" width="100%" height="100%" />
                        </div>
                    </div>
                    <p class="sub-description">Berkan Session Acual</p>
                </div>

                <div class="deffensive-body" (click)="openDialogWithType('Deffensive')">
                    <div id="chart-deffensive" style="width: 100%; height: 270px"></div>
                </div>
                <!-- <div class="deffensive-footer">
                    Nous nous situons legerement au dessus de la moyenne en ce qui concerne les statistique offensive
                </div> -->
            </div>
        </div>
        <!-- 3 -->
        <div class="box1 col-12 col-md-4 justify-content-center align-content-center">
            <div class="performance-offensive">
                <div class="offensive-header ">
                    <div class="d-flex justify-content-between align-content-between ">
                        <span class="title-header justify-content-end align-content-end">
                            Prestation Generale
                        </span>
                        <div class="logo-club ml-4">
                            <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                                alt="" width="100%" height="100%" />
                        </div>
                    </div>
                    <p class="sub-description">Berkan Session Acual</p>
                </div>

                <div class="generale-body" (click)="openDialogWithType('Generale')">
                    <div id="chart-generale" style="width: 100%; height: 270px"></div>
                </div>
                <!-- <div class="generale-footer">
                    Nous nous situons legerement au dessus de la moyenne en ce qui concerne les statistique offensive
                </div> -->
            </div>
        </div>
    </div>
    <div class="box d-flex mb-4 row col-12 col-md-12 justify-content-center align-content-center mt-4">
        <!-- 1 -->
        <div class="box1 col-12 col-md-4 justify-content-center align-content-center">
            <div class="performance-efficacite">
                <div class="efficacite-header">
                    <div class="d-flex justify-content-between align-content-between ">
                        <span class="title-header justify-content-end align-content-end">
                            Efficacite Offensive
                        </span>
                        <div class="logo-club ml-4">
                            <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                                alt="" width="100%" height="100%" />
                        </div>
                    </div>
                    <p class="sub-description">Botola Pro, saison actuelle</p>
                </div>
                <div class="efficacite-body" (click)="openDialogWithType('Efficacite_Offensive')">
                    <div id="chart-efficacite" style="width: 100%; height: 350px"></div>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="box1 col-12 col-md-4 justify-content-center align-content-center" >
            <div class="performance-efficacite">
                <div class="passes-header">
                    <div class="d-flex justify-content-between align-content-between ">
                        <span class="title-header justify-content-end align-content-end">
                            Efficacité Défensive,
                        </span>
                        <div class="logo-club ml-4">
                            <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                                alt="" width="100%" height="100%" />
                        </div>
                    </div>
                    <p class="sub-description">Botola Pro, saison actuelle</p>
                </div>
                <div class="defensive-body" (click)="openDialogWithType('Efficacite_Deffensive')">
                    <div id="chart-defensive" style="width: 100%; height: 350px"></div>
                </div>
            </div>
        </div>
        <!-- 3 -->
        <div class="box1 col-12 col-md-4 justify-content-center align-content-center">
            <div class="performance-efficacite">
                <div class="passes-header">
                    <div class="d-flex justify-content-between align-content-between ">
                        <span class="title-header justify-content-end align-content-end">
                            Passes
                        </span>
                        <div class="logo-club ml-4">
                            <img src="https://seeklogo.com/images/R/renaissance-sportive-berkane-rsb-logo-9B110745FD-seeklogo.com.png"
                                alt="" width="100%" height="100%" />
                        </div>
                    </div>
                    <p class="sub-description">Botola Pro, saison actuelle</p>
                </div>

                <div class="passes-body" (click)="openDialogWithType('Passes')">
                    <div id="chart-passes" style="width: 100%; height: 350px"></div>
                </div>
            </div>
        </div> 
    </div>
</div>