.container-content {
  font-family: "Century Gothic" !important;
}

th {
  text-decoration: underline;
}

action__ .btn-fw {
  background-color: #d8a067;
  padding: 4px;
  width: 45px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

.color__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.performance__ td,
.performance__ td div {
  font-size: .9rem !important;
  font-weight: bold !important;
  font-family: "Century Gothic Bold" !important;
}

.no_data {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.par_90_min {
  background: #dfdfdf;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Century Gothic Bold" !important;
}

.radar-select {
  background-color: #d0d2d3;
  border-radius: 5px;
}

.th__head {
  width: 100px;
}

.chart-presence,
.chart-temps {
  box-shadow: rgba(245, 242, 242, 0.1) 2px 1px 3px 0px;
  background-color: #fff;
  height: auto !important;
  width: 100% !important;
}

th,
td {
  text-align: center !important;
}

th {
  text-decoration: underline;
}

.bold__text {
  font-family: "Century Gothic Bold";
  font-weight: bold;

}

.chart-block {
  border-radius: 20px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  margin-bottom: 10px;
  overflow: hidden;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
}

/* End Resume-generele  */

.table-medicale {
  border-radius: 3px;
}

.medicale table {
  margin: 10px 0;
}

.medicale td {
  font-family: "Century Gothic";
  font-weight: bold;
  padding: 5px 0;
}

.medicale th {
  font-family: "Century Gothic";
  font-weight: bold;
  padding: 5px 0;
}

/* end chart-pie-blessures */
.medicale {
  width: 100%;
  height: auto;
  background-color: #eccfe0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  overflow: hidden;
}

#MyqmdM {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

#MyqmdM caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

#MyqmdM tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

#MyqmdM th,
#MyqmdM td {
  padding: .625em;
  text-align: center;
}

#MyqmdM th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  #MyqmdM {
    border: 0;
  }

  #MyqmdM caption {
    font-size: 1.3em;
  }

  #MyqmdM thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #MyqmdM tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  #MyqmdM td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1rem;
    text-align: right !important;
    font-weight: bold;

  }

  #MyqmdM td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  #MyqmdM td:last-child {
    border-bottom: 0;
  }
}

.___block {
  background: #fdfdfd;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.table {
  background-color: #dfdfdf;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mannequinConatiner {
  height: 319px;
  width: 188px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  background-size: 100%;
}

.leftSideInjuries,
.rightSideInjuries {
  text-align: center;
}

.injurySideCount {
  font-size: 45px;
  font-weight: 700;
  color: #126483;
}

.table thead th {
  font-size: small;
  padding: 14px 2px;
  vertical-align: middle;
  text-decoration: none;
  font-family: "Century Gothic Bold";
}

.table td:nth-child(1),
.table th:nth-child(1) {
  text-align: start !important;
  padding-left: 1em !important;
}

.table td {
  font-size: small;
  padding: 10px 1px;
  border-top: 1px solid #eae8e8;
  border-bottom: 2px solid #dee2e6;
  background-color: #f7f5f5;
  font-family: "Century Gothic";
}


.playerImageContainer {
  background: #eee;
  border: 3px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  align-self: center;
}

.playerBigImage {
  width: 100%;
  height: 100%;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.commentConfig {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.commentConfig li {
  display: inline-block;
  margin: 0px 10px;
  font-size: 20px;
  color: #464646;
}

.commentConfig li a {
  color: #464646;
}

.mannequinConatiner {
  height: 319px;
  width: 188px;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  background-size: 100%;
}

.leftSideInjuries,
.rightSideInjuries {
  text-align: center;
}

.injurySideCount {
  font-size: 45px;
  font-weight: 700;
  color: #126483;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.squareHead {
  background: #464646;
  color: #fff;
  padding: 10px 18px;
  font-size: 17px;
  font-weight: 700;
}

.squareBody {
  text-align: center;
}

.statSquare {
  margin: 8px 5%;
}

.injuryNumber {
  background: #e80505;
  color: #ffffff;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
}

.third-width {
  width: 30%;
}

.rangeHolder {
  height: 64px;
}

.range {
  display: block;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #15b06c;
  background: -moz-linear-gradient(45deg, #15b06c 0%, #fcc505 25%, #f16917 51%, #cf2121 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #15b06c), color-stop(25%, #fcc505), color-stop(51%, #f16917), color-stop(100%, #cf2121));
  background: -webkit-linear-gradient(45deg, #15b06c 0%, #fcc505 25%, #f16917 51%, #cf2121 100%);
  background: -o-linear-gradient(45deg, #15b06c 0%, #fcc505 25%, #f16917 51%, #cf2121 100%);
  background: -ms-linear-gradient(45deg, #15b06c 0%, #fcc505 25%, #f16917 51%, #cf2121 100%);
  background: linear-gradient(45deg, #15b06c 0%, #fcc505 25%, #f16917 51%, #cf2121 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
  height: 7px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: #15b06c;
  background: -moz-linear-gradient(45deg, #15b06c 0%, #fcc505 25%, #f16917 51%, #cf2121 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #15b06c), color-stop(25%, #fcc505), color-stop(51%, #f16917), color-stop(100%, #cf2121));
  background: -webkit-linear-gradient(45deg, #15b06c 0%, #fcc505 25%, #f16917 51%, #cf2121 100%);
  background: -o-linear-gradient(45deg, #15b06c 0%, #fcc505 25%, #f16917 51%, #cf2121 100%);
  background: -ms-linear-gradient(45deg, #15b06c 0%, #fcc505 25%, #f16917 51%, #cf2121 100%);
  background: linear-gradient(45deg, #15b06c 0%, #fcc505 25%, #f16917 51%, #cf2121 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
  height: 7px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -webkit-grab;

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}



.range.blue::-webkit-slider-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-webkit-slider-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-webkit-slider-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-webkit-slider-thumb {
  border-color: rgb(255, 53, 127);
}

.range.blue::-moz-range-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-moz-range-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-moz-range-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-moz-range-thumb {
  border-color: rgb(255, 53, 127);
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

.gravity1 {
  background: #15b06c;
}

.gravity2 {
  background: #fcc505;
}

.gravity3 {
  background: #f16917;
}

.gravity4 {
  background: #cf2121;
}

.abdomen {
  position: absolute;
  left: 76px;
  top: 105px;
}

.poitrine {
  position: absolute;
  left: 76px;
  top: 65px;
}

.visage {
  position: absolute;
  left: 76px;
  top: 12px;
}

.cheville_gauche {
  position: absolute;
  left: 95px;
  top: 285px;
}

.coude_gauche {
  position: absolute;
  left: 122px;
  top: 93px;
}

.bras_gauche {
  position: absolute;
  left: 115px;
  top: 73px;
}

.pied_gauche {
  position: absolute;
  left: 109px;
  top: 302px;
}

.avant-bras_gauche {
  position: absolute;
  left: 131px;
  top: 114px;
}

.main_gauche {
  position: absolute;
  left: 148px;
  top: 152px;
}

.hanche_gauche {
  position: absolute;
  left: 106px;
  top: 133px;
}

.genou_gauche {
  position: absolute;
  left: 116px;
  top: 205px;
}

.cuisse_gauche {
  position: absolute;
  left: 105px;
  top: 172px;
}

.jambe_gauche {
  position: absolute;
  left: 125px;
  top: 250px;
}

.epaule_gauche {
  position: absolute;
  left: 112px;
  top: 70px;
}

.poignet_gauche {
  position: absolute;
  left: 140px;
  top: 133px;
}

.cou {
  position: absolute;
  left: 76px;
  top: 38px;
}

.bassin {
  position: absolute;
  left: 80px;
  top: 149px;
}

.cheville_droite {
  position: absolute;
  right: 95px;
  top: 285px;
}

.coude_droite {
  position: absolute;
  right: 122px;
  top: 93px;
}

.bras_droite {
  position: absolute;
  right: 115px;
  top: 73px;
}

.pied_droite {
  position: absolute;
  right: 109px;
  top: 302px;
}

.avant-bras_droite {
  position: absolute;
  right: 131px;
  top: 114px;
}

.main_droite {
  position: absolute;
  right: 148px;
  top: 152px;
}

.hanche_droite {
  position: absolute;
  right: 106px;
  top: 133px;
}

.genou_droite {
  position: absolute;
  right: 118px;
  top: 215px;
}

.cuisse_droite {
  position: absolute;
  right: 106px;
  top: 172px;
}

.jambe_droite {
  position: absolute;
  right: 130px;
  top: 250px;
}

.epaule_droite {
  position: absolute;
  right: 116px;
  top: 48px;
}

.poignet_droite {
  position: absolute;
  right: 140px;
  top: 133px;
}

.poignet_droite {
  position: absolute;
  right: 140px;
  top: 133px;
}


.tete {
  position: absolute;
  left: 80px;
  top: 35px;
}

.cou {
  position: absolute;
  left: 80px;
  top: 53px;
}

.dos {
  position: absolute;
  left: 80px;
  top: 93px;
}

.éqaule_gauche_derrière {
  position: absolute;
  left: 50px;
  top: 68px;
}

.éqaule_droite_derrière {
  position: absolute;
  left: 111px;
  top: 68px;
}

.biceps_droite {
  position: absolute;
  left: 121px;
  top: 92px;
}

.biceps_gauche {
  position: absolute;
  left: 39px;
  top: 92px;
}

.bas_du_dos {
  position: absolute;
  left: 80px;
  top: 117px;
}

.fessier {
  position: absolute;
  left: 80px;
  top: 143px;
}

.dos_de_la_main_gauche {
  position: absolute;
  left: 2px;
  top: 143px;
}

.poignet_gauche {
  position: absolute;
  left: 13px;
  top: 127px;
}

.avant-bras_gauche {
  position: absolute;
  left: 20px;
  top: 116px;
}

.coude_gauche_derrière {
  position: absolute;
  left: 30px;
  top: 105px;
}


.dos_de_la_main_droite {
  position: absolute;
  left: 102px;
  top: 143px;
}

.poignet_droite {
  position: absolute;
  left: 113px;
  top: 127px;
}

.avant-bras_droite {
  position: absolute;
  left: 120px;
  top: 116px;
}

.coude_droite_derrière {
  position: absolute;
  left: 130px;
  top: 105px;
}

.cuisse_droite_derrière {
  position: absolute;
  left: 105px;
  top: 173px;

}

.cuisse_gauche_derrière {
  position: absolute;
  left: 60px;
  top: 173px;

}

.arrière_du_genou_gauche {
  position: absolute;
  left: 52px;
  top: 198px;
}

.arrière_du_genou_droite {
  position: absolute;
  left: 113px;
  top: 198px;
}

.mollet_droite {
  position: absolute;
  left: 122px;
  top: 225px;
}

.mollet_gauche {
  position: absolute;
  left: 42px;
  top: 225px;
}

.cheville_gauche {
  position: absolute;
  left: 38px;
  top: 245px;
}

.cheville_droite {
  position: absolute;
  left: 129px;
  top: 245px;
}

.calcanéum_droite,
.pied_droite {
  position: absolute;
  left: 133px;
  top: 267px;
}

.calcanéum_gauche,
.pied_gauche {
  position: absolute;
  left: 33px;
  top: 267px;
}

.text__0 {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Century Gothic Bold';
}

.action__ {
  padding: 10px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
}

.text_fontSize {
  font-size: 1.2rem;
}

.action___title {
  font-size: 1.1rem;
  font-family: 'Century Gothic Bold';
}

/* Media Query for screens smaller than 768 pixels (e.g., mobile devices) */
@media only screen and (max-width: 767px) {
  .action___title {
    font-size: 0.9rem;
    /* Adjust the font size for smaller screens */
  }
}

/* Media Query for screens between 768 and 1024 pixels (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .action___title {
    font-size: 1rem;
    /* Adjust the font size for medium-sized screens */
  }
}

/* Media Query for screens larger than 1024 pixels (e.g., desktops) */
@media only screen and (min-width: 1025px) {
  /* You can add additional styles for larger screens if needed */
}