<div class="rankingContainer mx-0">

  <div class="padding---outlet">
    <router-outlet></router-outlet>
  </div>
  <ng-container *ngIf="user.role === 'PRESIDING'">
    <app-pagination-block label_home="Base de données Datahub"></app-pagination-block>
  </ng-container>
  <div *ngIf="canDisplayPag() && user.role !== 'PRESIDING'"
    class="col-12 d-flex mb-4 justify-content-center align-items-center">
    <div class="pagination__route col-md-3 mt-2 mb-4 col-12">
      <div class="disabled_pagination">
        <i class="fas fa-angle-double-left"></i>
      </div>
      <div role="button" routerLink="/datahub/database">
        <i class="fas fa-home"></i>
      </div>
      <div role="button" (click)="location.back();">
        <i class="fas fa-angle-double-right"></i>
      </div>
    </div>
  </div>
</div>