
.box2, .content1{
    height: 900px;
}
.content1{
    width: 100%;
    /* height: 835px; */
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.line-holritiontal::after{
   background-color: #000;
   display: block;
   content: "";
   height: 2px;
   width: 101px;
   margin-left: 135px;
   margin-top: -12px;

}
.content1-header{
    padding: 0px 15px;
    line-height: normal;
}
.adversaire-header{
    border-radius: 13px;
    margin-right: 39px;
    margin-top: 5px;
    background-color: #fff;
    width: 233px;
    height: 45px;
}

.icon-adversaire{
    border-radius: 13px;
    background-color: #fff;
    width: 46px;
    margin-top: 5px;
    
}
.logo{
    width: 26px;
    height: 35px;
    padding: 0px;
    margin-top: 4px;
    margin-left: 10px;
  }

.text-bold{
    font-family: "Century Gothic Bold";
}  
.text-small{
    font-family: "Century Gothic";
    font-size: small;
}  
.botola-pro{
    margin-top: 12px;
}
.botola-title{
    width: 100%;
    height: 40px;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: rgb(222, 222, 222);
}
.botola-body{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    padding: 6px 7px;
}
.next-match{
    padding: 0 4px;
    margin-top: 8px;
    color: black;
    font-size: small;
    font-family: "Century Gothic";
}

/* .summary{
    width: 100%;
    height: 400px;
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
} */
.summary-title{
    padding: 3px 5px;
    font-family: 'Century Gothic Bold' !important;
}

.summary-description{
    padding: 0px 36px;
    font-size: small;
    font-family: 'Century Gothic' !important;
}
/* tactic */
.tactic-content{
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 10px;
}

  
  .player {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:rgb(255, 217, 0);
    color: #4c4c4a;
    text-align: center;
    line-height: 31px;
    position: absolute;
    font-weight: bold;
  }

  #player1{
    top: 15%;left: 92%; 
  }
  #player2{
    top: 25%;left: 20%;
  }
  #player3{
    top: 25%;left: 159%; 
  }
  #player4{
    top: 42%;left: 44%;
  }
  #player5{
    top: 42%;left: 141%;
  }
  #player6{
    top: 58%;left: 91%;
  }
  #player7{
    top: 78%;left: 20%;
  }
  #player8{
    top: 78%;left: 162%;
  }
  #player9{
    top: 103%;left: 91%; 
  }
  #player10{
    top: 88%;left: 129%;
  }
  #player11{
    top: 88%;left: 45%;
  }


  .tactic-match{
    width: 100%;
    height: 600px;
    background-image: url("../../../../../../../assets/images/tiran.png");
    background-repeat: no-repeat;
    background-size: 354px 500px;
}
  


   /* end  tactic */
.general-performence{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.generale-body {
    width: 100%;
    height: 350px;
    border-radius: 13px;
    background-color: white;
}

.match{
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.dernier-match{
    background-color: rgb(27, 25, 25);
    border-radius: 12px;
    padding: 3px 2px;
    margin-top: 2px;
    margin-left: 2px;
    font-family: 'Century Gothic Bold' !important;
    color: #fff;
}

.one{
    background-color: rgb(234, 210, 50);
    padding: 1px 7px;
    border-radius: 3px;
    font-family: 'Century Gothic Bold' !important;
    color: #fff;
}
.two{
    background-color: rgb(29, 44, 219);
    padding: 1px 7px;
    border-radius: 3px;
    font-family: 'Century Gothic Bold' !important;
    color: #fff;
}
.three{
    background-color: rgb(29, 44, 219);
    padding: 1px 7px;
    border-radius: 3px;
    font-family: 'Century Gothic Bold' !important;
    color: #fff;
}
.foor{
    background-color: rgb(139, 16, 0);
    padding: 1px 7px;
    border-radius: 3px;
    font-family: 'Century Gothic Bold' !important;
    color: #fff;
}
.five{
    background-color: rgb(234, 210, 50);
    padding: 1px 7px;
    border-radius: 3px;
    font-family: 'Century Gothic Bold' !important;
    color: #fff;
}

.moyenne{
    width: 100%;
    padding: 0px 12px;
    height: 240px;
    margin-top: 20px;
    margin-left: 2px;
    border-radius: 28px;
    background-color: rgb(229 229 229);
}
.moyenne-title{
    padding: 3px 48px;
    padding: 7px 36px;
}
.xgc-title{
    background-color: rgb(23, 20, 20);
    padding: 0px;
    border-radius: 5px;
    color: white;
    font-size: small;
    text-align: center;
    align-items: center;
    width: 70px;
    height: 38px;
    color: white;
    font-family: 'Century Gothic Bold'!important;
}
.xgc-number{
    background-color: rgb(234, 210, 50);
    font-family: 'Century Gothic Bold' !important;
    border-radius: 5px;
    width: 70px;
    height: 35px;
    color: white;
    text-align: center;
}
.xgc{
    background-color: rgb(23, 20, 20);
    border-radius: 10px;
    width: 70px;
    height: 73px;
}
.box-joueurs{
    width: 100%;
    height: 100px;
    margin-top: 8px;
}
.joueurs1, .joueurs2 {
    padding: 0px 4px;
    height: 80px;
}
.info-joueurs1{
    margin-top: 16px;
    margin-right: 4px;
    margin-left: 3px;
    line-height: 0.5;
   
}
.info-joueurs2{
    margin-top: 12px;
    line-height: 1;
    margin-right: 2px;
    margin-left: 4px;
    line-height: 0.5;
   
}
.image-player {
    overflow: hidden;
    border-radius: 50%;
    width: 50px;
    height: 55px;
    margin-top: 6px;
    border: 2px solid rgb(183, 180, 180);
    }

.principalesContent{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.title-principales{
    padding: 10px;
}

.row1, .row2, .row3, .row4{
    background-color: #ececec;
    width: 85%;
    height: 70px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 55px;
    border-radius: 11px;
}
.icon1{
    padding: 2px 6px;
    background-color: #fffdfd;
    border-radius: 8px;
    margin-right: 5px;
}
.box-icon{
    margin-inline-start: auto;
    /* margin-left: 40px;
    margin-bottom: 29px; */
}



@media screen and (max-width: 768px) {
    .container-content{
        flex-direction: column;
        align-items: center;
        min-height: 300%;
        width: 100%;
        padding-right: 20px !important;
        padding-left: 22px !important;
      }
      .content1{
        padding-right: 1px !important;
        padding-left: 1px !important;
        margin-bottom: 24px !important;
      }
      .box2{
        padding-right: 0px !important;
        padding-left: 0px !important;
      }
    .content2{
        display: block !important;
        padding-right: 1px !important;
        padding-left: 0px !important;
    }
    .summary1, .tactic{
        margin: 0px;
        padding: 0px;
    }
    .summary-title, .tactic-title{
        padding-left: 30px;
    }

    .match{
        padding-right: 2px !important;
        padding-left: 4px !important;
        margin-top: 20px !important;
    }
   .general{
    padding-right: 1px !important;
    padding-left: 1px !important;
   }
   .principalesContent{
    padding: 0px !important;
   }
   .icon1{
    padding: 0px;
    margin: 0px;
   }
   .row1, .row2, .row3, .row4{
    background-color: #ececec;
    width: 96%;
    height: 61px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    border-radius: 11px;
   }
   .title{
    margin-left: 14px;
   }
   .title-principales{
    padding: 12px 22px;
   }
   .moyenne{
    margin-left: -1px !important;
   }



   /* tactic */

   #player1{
    top: 15%;left: 43%; 
  }
  #player2{
    top: 25%;left: 20%;
  }
  #player3{
    top: 25%;left: 67%; 
  }
  #player4{
    top: 42%;left: 30%;
  }
  #player5{
    top: 42%;left: 60%;
  }
  #player6{
    top: 58%;left: 42%;
  }
  #player7{
    top: 78%;left: 20%;
  }
  #player8{
    top: 78%;left: 67%;
  }
  #player9{
    top: 103%;left: 44%; 
  }
  #player10{
    top: 88%;left: 30%;
  }
  #player11{
    top: 88%;left: 56%;
  }


   /* end tactic */
}