
.teamContainer {
  background-color: hsl(0, 0%, 97%);
  background-image: url(../../../../../assets/images/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 820%;
  font-family: 'Century Gothic' !important;
}

.image-background-header {
  background-image: url(../../../../../assets/images/bg-image-black-player.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 96px;
}
/* Header */
.header{
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 60px;
    font-size: 1rem;
    font-family: 'Century Gothic' !important;
    background: linear-gradient(238deg, #1c7b22, rgb(16, 83, 20));
    box-shadow: rgba(112, 120, 114, 0.25) 0px 2px 5px -1px, rgba(126, 121, 121, 0.3) 0px 1px 3px -1px;
}
.navbar{
  padding: 2px;
  justify-items: center;
  justify-content: space-between;
}
.nav-link{
  color: white;
  padding: 8px;
  font-family: 'Century Gothic' !important;
  /* padding-left: 0px; */
  padding-right: 20px;
} 
.active{
  color: rgb(255, 247, 3);
}   
.header .logo {
    width: 60px;
    margin-left: 10px;
  }




  
/* End Header  */



@media screen and (max-width: 768px) {
  /* CSS rules for screens with a maximum width of 768px (typical for mobile devices) */
  .teamContainer{
    flex-direction: column;
    align-items: center;
    padding-right: 1px;
    padding-left: 3px;
    /* min-height: 100%; */

  }
  .navbar{
    justify-content: center;
    padding: 0.5rem 0rem;
  }
  .nav-link{
    color: white;
    padding: 0px;
    font-family: 'Century Gothic' !important;
    font-size: small;
}  


}
  

  
  

  






  @media screen and (max-width: 768px) {

.nav-link{
    padding: 0px;
}  
    /* .teamContainer .header {
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
    }
  
    .teamContainer .header div {
      font-size: 1.1rem;
    }
  
    .teamContainer .header .logo {
      width: 45px;
    } */
  
  }