<button  class="btn btn-danger closeDialog" (click)="closeDialog()" matDialogClose>Close</button>
<div class="table-content2 col-12 col-md-12 justify-content-center align-content-center"  >
  <!-- Goals -->
    <table class="table" id="table2" *ngIf="data.type === 'Goals'">
    <thead>
      <tr>
        <th colspan="3" class="title_goals">
          <span class="goals-header text_bold">Goals </span>
          <div class="title_sub_goals">{{headerDataGoals['teamName']}}</div>
        </th>
        <th scope="col" class="title_header">
          <div class="demo-goals">{{headerDataGoals?.Total_Goals}}</div>
          <img class="img_header" [src]="headerDataGoals?.TeamLogo" alt="">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of bodyDataGoals.slice(1,16)">
        <th scope="row" class="class_body">{{team['classment']}}</th>
        <td colspan="2">{{team['teamName']}}</td>
        <td>
          <span class="mr-4 text_bold" >{{team.Total_Goals}}</span>
          <span><img class="img_body"  [src]="team?.TeamLogo" alt=""></span>
        </td>
      </tr>

    </tbody>
    </table>
  <!-- 2 XG -->
  <table class="table" id="table2" *ngIf="data.type === 'XG'" >
    <thead>
      <tr>
        <th colspan="3" class="title_goals">
          <span class="goals-header text_bold">XG</span>
          <div class="title_sub_goals">{{headerDataXG['teamName']}}</div>
        </th>
        <th scope="col" class="title_header">
          <div class="demo-goals">{{headerDataXG?.value}}</div>
          <img class="img_header" [src]="headerDataXG?.TeamLogo" alt="">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of bodyDataXG.slice(1,16)">
        <th scope="row" class="class_body">{{team['classment']}}</th>
        <td colspan="2">{{team['teamName']}}</td>
        <td>
          <span class="text_bold" >{{team.value}}</span>
          <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
        </td>
      </tr>

    </tbody>
  </table>
  <!-- 3 TIRS -->
  <table class="table" id="table2" *ngIf="data.type === 'Tirs'">
          <thead>
            <tr>
              <th colspan="3" class="title_goals">
                <span class="goals-header text_bold">TIRS </span>
                <div class="title_sub_goals">{{headerDataTirs['teamName']}}</div>
              </th>
              <th scope="col" class="title_header">
                <div class="demo-goals">{{headerDataTirs?.Total_Tirs}}</div>
                <img class="img_header" [src]="headerDataTirs?.TeamLogo" alt="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of bodyDataTirs.slice(1,16)">
              <th scope="row" class="class_body">{{team['classment']}}</th>
              <td colspan="2">{{team['teamName']}}</td>
              <td>
                <span class="text_bold" >{{team.Total_Tirs}}</span>
                <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
              </td>
            </tr>
          </tbody>
  </table>
  <!-- 4 Tirs Cadres -->
  <table class="table" id="table2" *ngIf="data.type === 'TirsCadres'">
    <thead>
      <tr>
        <th colspan="3" class="title_goals">
          <span class="goals-header text_bold">TIRS CADRES </span>
          <div class="title_sub_goals">{{headerDataTirCadre['teamName']}}</div>
        </th>
        <th scope="col" class="title_header">
          <div class="demo-goals">{{headerDataTirCadre?.Total_shotsOnTarget}}</div>
          <img class="img_header" [src]="headerDataTirCadre?.TeamLogo" alt="">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of bodyDataTirCadre.slice(1,16)">
        <th scope="row" class="class_body">{{team['classment']}}</th>
        <td colspan="2">{{team['teamName']}}</td>
        <td>
          <span class="text_bold" >{{team.Total_shotsOnTarget}}</span>
          <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
        </td>
      </tr>

    </tbody>
  </table>
  <!-- 5 Buts concédés -->
  <table class="table" id="table2" *ngIf="data.type === 'ButsConcedes'">
    <thead>
      <tr>
        <th colspan="3" class="title_goals">
          <span class="goals-header text_bold">BUTS CONCEDES</span>
          <div class="title_sub_goals">{{headerDataButsCon['teamName']}}</div>
        </th>
        <th scope="col" class="title_header">
          <div class="demo-goals">{{headerDataButsCon?.Total_BC}}</div>
          <img class="img_header" [src]="headerDataButsCon?.TeamLogo" alt="">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of bodyDataButsCon.slice(1,16)">
        <th scope="row" class="class_body">{{team['classment']}}</th>
        <td colspan="2">{{team['teamName']}}</td>
        <td>
          <span class="text_bold" >{{team.Total_BC}}</span>
          <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- 6 XG_against -->
  <table class="table" id="table2" *ngIf="data.type === 'XG_Again'">
    <thead>
      <tr>
        <th colspan="3" class="title_goals">
          <span class="goals-header text_bold">XG AGAINST </span>
          <div class="title_sub_goals">{{headerDataXgAgain['teamName']}}</div>
        </th>
        <th scope="col" class="title_header">
          <div class="demo-goals">{{headerDataXgAgain?.Total_xGC}}</div>
          <img class="img_header" [src]="headerDataXgAgain?.TeamLogo" alt="">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of bodyDataXgAgain.slice(1,16)">
        <th scope="row" class="class_body">{{team['classment']}}</th>
        <td colspan="2">{{team['teamName']}}</td>
        <td>
          <span class="text_bold" >{{team.Total_xGC}}</span>
          <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- 7 Tirs Contre -->
  <table class="table" id="table2" *ngIf="data.type === 'TirsContre'">
    <thead>
      <tr>
        <th colspan="3" class="title_goals">
          <span class="goals-header text_bold">Tire Contre </span>
          <div class="title_sub_goals">{{headerDataTirsContre['teamName']}}</div>
        </th>
        <th scope="col" class="title_header">
          <div class="demo-goals">{{headerDataTirsContre?.Total_shotsAgainst}}</div>
          <img class="img_header" [src]="headerDataTirsContre?.TeamLogo" alt="">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of bodyDataTirsContre.slice(1,16)">
        <th scope="row" class="class_body">{{team['classment']}}</th>
        <td colspan="2">{{team['teamName']}}</td>
        <td>
          <span class="text_bold" >{{team.Total_shotsAgainst}}</span>
          <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
        </td>
      </tr>

    </tbody>
  </table>
  <!-- 8 Tirs Contre Cadre -->
  <table class="table" id="table2" *ngIf="data.type === 'TirsContreCadre'">
    <thead>
      <tr>
        <th colspan="3" class="title_goals">
          <span class="goals-header text_bold">TIRE CONTRE CADRE </span>
          <div class="title_sub_goals">{{headerDataTirsContreCadre['teamName']}}</div>
        </th>
        <th scope="col" class="title_header">
          <div class="demo-goals">{{headerDataTirsContreCadre?.Total_shotsOTAgainst}}</div>
          <img class="img_header" [src]="headerDataTirsContreCadre?.TeamLogo" alt="">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of bodyDataTirsContreCadre.slice(1,16)">
        <th scope="row" class="class_body">{{team['classment']}}</th>
        <td colspan="2">{{team['teamName']}}</td>
        <td>
          <span class="text_bold" >{{team.Total_shotsOTAgainst}}</span>
          <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- 9 Fautes --> 
  <table class="table" id="table2" *ngIf="data.type === 'Fautes'">
    <thead>
      <tr>
        <th colspan="3" class="title_goals">
          <span class="goals-header text_bold">FAUTES </span>
          <div class="title_sub_goals">{{headerDataFautes['teamName']}}</div>
        </th>
        <th scope="col" class="title_header">
          <div class="demo-goals">{{headerDataFautes?.Total_fouls}}</div>
          <img class="img_header" [src]="headerDataFautes?.TeamLogo" alt="">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of bodyDataFautes.slice(1,16)">
        <th scope="row" class="class_body">{{team['classment']}}</th>
        <td colspan="2">{{team['teamName']}}</td>
        <td>
          <span class="text_bold" >{{team.Total_fouls}}</span>
          <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- 10 Cartons_Jaunes -->
  <table class="table" id="table2" *ngIf="data.type === 'CartonsJounes'">
    <thead>
      <tr>
        <th colspan="3" class="title_goals">
          <span class="goals-header text_bold">CARTES JOUNES </span>
          <div class="title_sub_goals">{{headerDataCarteJoune['teamName']}}</div>
        </th>
        <th scope="col" class="title_header">
          <div class="demo-goals">{{headerDataCarteJoune?.Total_yellowCards}}</div>
          <img class="img_header" [src]="headerDataCarteJoune?.TeamLogo" alt="">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of bodyDataCarteJoune.slice(1,16)">
        <th scope="row" class="class_body">{{team['classment']}}</th>
        <td colspan="2">{{team['teamName']}}</td>
        <td>
          <span class="text_bold" >{{team.Total_yellowCards}}</span>
          <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
        </td>
      </tr>
    </tbody>
  </table>
   <!-- 10 Cartons_Rouges -->
   <table class="table" id="table2" *ngIf="data.type === 'CartonsRouges'">
    <thead>
      <tr>
        <th colspan="3" class="title_goals">
          <span class="goals-header text_bold">CARTES ROUGES </span>
          <div class="title_sub_goals">{{headerDataCarteRouge['teamName']}}</div>
        </th>
        <th scope="col" class="title_header">
          <div class="demo-goals">{{headerDataCarteRouge?.Total_redCards}}</div>
          <img class="img_header" [src]="headerDataCarteRouge?.TeamLogo" alt="">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of bodyDataCarteRouge.slice(1,16)">
        <th scope="row" class="class_body">{{team['classment']}}</th>
        <td colspan="2">{{team['teamName']}}</td>
        <td>
          <span class="text_bold" >{{team.Total_redCards}}</span>
          <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
        </td>
      </tr>

    </tbody>
  </table>
  <!-- 12 Possession-->
  <table class="table" id="table2" *ngIf="data.type === 'Possession'">
    <thead>
      <tr>
        <th colspan="3" class="title_goals">
          <span class="goals-header text_bold">POSSESSION </span>
          <div class="title_sub_goals">{{headerDataPossession['teamName']}}</div>
        </th>
        <th scope="col" class="title_header">
          <div class="demo-goals">{{headerDataPossession?.Possession}}</div>
          <img class="img_header" [src]="headerDataPossession?.TeamLogo" alt="">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of bodyDataPossession.slice(1,16)">
        <th scope="row" class="class_body">{{team['classment']}}</th>
        <td colspan="2">{{team['teamName']}}</td>
        <td>
          <span class="text_bold" >{{team.Possession}}</span>
          <span><img class="img_body ml-2" [src]="team?.TeamLogo" alt=""></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<!-- 
   
 -->