
.box1{
    width: 100%;
    height: 390px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.box2{
    width: 100%;
    height: 100%;
}

.performance-deffensive{
    width: 100%;
    height: 400px;
    background-color: rgba(240, 239, 239, 0.918);
    border-radius: 24px;
    box-shadow: rgba(247, 247, 248, 0.25) 0px 30px 60px -12px inset, rgba(234, 230, 230, 0.3) 0px 18px 36px -18px inset;
}
.deffensive-header{
    width: 100%;
    height: 47px;
    padding: 2px 17px;
}

.title-header{
    font-family: 'Century Gothic Bold'!important;
}
.logo-club{
    margin-bottom: 8px;
    padding: 0px 16px;
    width: 59px !important;
    margin-right: -13px;
    margin-top: 4px;
}

.sub-description{
    padding: 0px 3px;
    height: 2px;
    margin-top: -17px;
    font-size: small;
}

.deffensive-body{
    width: 100%;
    height: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
   ::ng-deep .mat-dialog-container {
    padding: 10px; 
  } 
  .closeDialog{
    position: relative;
    left: 95%;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .mat-dialog{
        padding: 0px;
        margin: 0px;
       }
    .box2{
        margin-bottom: 10px;
    }   
    .container-content{
        padding-right: 0px;
        padding-left: 22px;
    }
    .content{
        padding: 0px;
        margin: 0px;
        line-height: revert;
        padding-right: 0px;
        padding-left: 0px;
        display: contents;
    }
    .box1{
        margin-bottom: 20px;
        padding-right: 0px;
        padding-left: 0px;
        line-height: initial;
        height: 300px;
        padding: 0px 14px;
    }

    .box2{
        padding-right: 0px;
        padding-left: 0px;
    }
    ::ng-deep .mat-dialog-container {
        padding: 4px; 
        height: 197%;
        min-height: auto;
        max-height: initial;
      }
    .closeDialog{
        left: 85%;
    }
    
    }