<div class="row justify-content-center align-content-center">
    <div class="mb-2 ">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button">
              Dropdown button
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">1</a>
              <a class="dropdown-item" href="#">2</a>
              <a class="dropdown-item" href="#">3</a>
            </div>
          </div>
    </div>
    <div class="distribution">
       <div class="chart-distribution">
          <div id="chart-distribution" style="width: 100%; height:400px;" ></div>
       </div>
    </div>
</div>