<div class="row justify-content-center align-content-center">
    <div class="mb-2 ">
      <div class="navbar">
        <div class="nav-btn active"  (click)="setActive('XG')">XG</div>
        <div class="nav-btn" >B</div>
        <div class="nav-btn" >C</div>
        <div class="nav-btn" >D</div>
        <div class="nav-btn" >E</div>
        <div class="nav-btn" >F</div>
        <div class="nav-btn" >G</div>
    </div>
    
    </div>
    <div class="distribution">
       <div class="chart-distribution">
          <div id="chart-distribution" style="width: 100%; height:400px;" ></div>
       </div>
    </div>
</div>