<div class="container-fluid container-content mx-0 mb-4">
  <!-- Resume-generele -->
  <div class="resume-container row col-12 col-md-12 mb-4 d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 justify-content-center align-items-center">
      <div class="chart-presence col-12 col-md-12 justify-content-center align-items-center">
        <!-- chart 1 -->
        <div id="chart-absence" style="width: 100%; height: 300px"></div>
        <!-- end chart 1 -->
    </div>
    <div class="chart-temps col-12 col-md-12 justify-content-center align-items-center">
      <!-- chart 3 -->
      <div id="chart-temps" style="width: 100%; height: 300px"></div>
      <!-- end chart 3 -->
  </div>
    </div>
    <div class="col-12 col-md-6 justify-content-center align-items-center">
      <span class="d-flex justify-content-center my-2">
      </span>
      <div class="chart-block row mx-0">
        <div class="col-11">
          <div id="radar-percentilles" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="resume-container row col-12 col-md-12 mb-4 d-flex justify-content-center align-items-center">
    <div class="medicale p-0 row col-12 col-md-8 mt-4 mb-4  justify-content-center align-items-center">
      <table class="table-medicale table-borderless" style="width: 100%;">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Localisation</th>
            <th scope="col">Latéralite</th>
            <th scope="col">Indisponibilité (jours)</th>
          </tr>  
        </thead>
        <tbody>
          <tr>
            <td> 10/08/2021</td>
            <td >Elongation</td>
            <td >Quadriceps</td>
            <td >Droit</td>
            <td >13</td>
          </tr> 
          <tr>
            <td> 10/08/2021</td>
            <td >Elongation</td>
            <td >Quadriceps</td>
            <td >Droit</td>
            <td >13</td>
          </tr> 
          <tr>
            <td> 10/08/2021</td>
            <td >Elongation</td>
            <td >Quadriceps</td>
            <td >Droit</td>
            <td >13</td>
          </tr> 
        </tbody>
      </table>
     </div>
  </div>
  <!-- End Resume-generele -->
</div>