.container-blk {
  font-family: "Century Gothic";
}

.image-player {
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 4px solid rgb(237 237 237);
}

.bold__text,
.ec-label,
.post-player {
  font-family: "Century Gothic Bold";
  font-weight: bold;
}

.club-logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h_no_data {
  height: 50vh;
}

.post_ {
  background-color: rgb(226 200 120);
  border-radius: 8px;
  padding: 2px 0px;
  font-family: "Century Gothic Bold";
  font-weight: bold;
}

.info-block {
  font-size: 1.1rem;
  font-weight: bold;
  height: 74px;
}



.i-color {
  color: rgb(226 200 120);
  fill: rgb(226 200 120);
}

.name-player {
  font-size: 1.1rem;
}

.chart-block-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgb(237 237 237);
}

.chart-block {
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.ec-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

.block_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 40px;
}

.label_1 {
  background: #e2c878;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.label_2 {
  background: rgb(237 237 237);
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.block_similarities {
  background: #ededed;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.black_title {
  background: #e2c878;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding: 8px 0;
  font-weight: bold;
}


.profile-container {
  background: #ededed;
  padding-bottom: 20px;
  padding-top: 20px;
}

.profile-image-container {
  width: 125px;
  height: 145px;
  position: relative;
  padding: 10px 0;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 4px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.online-indicator {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  /* border: 2px solid #c5c2c2; */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 52px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.profile-image-small {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #6c6c6c;
  transform: translateY(-11px);
}

.left-image {
  left: -14px;
}

.right-image {
  right: -14px;
}

.post-player {
  background-color: #e2c878;
  color: black;
  border-radius: 5px;
  padding: 2px 20px;
  font-size: .9rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.progress__bar {
  height: 74px;
}

@media screen and (max-width: 768px) {
  /* CSS rules for screens with a maximum width of 768px (typical for mobile devices) */

  .info-block {
    height: initial !important;
  }

  .label_chart_name {
    width: 140px;
    text-align: center;
  }

  .block_similarities {
    margin-bottom: 40px;
  }

  .img_profile {
    justify-content: center !important;
    align-items: center !important;
  }
}